@charset "UTF-8";



.review-images {
  display: flex;
  gap: 8px;
  flex-wrap: nowrap; /* 한 줄로만 표시 */
  overflow-x: auto; /* 이미지 많을 경우 가로 스크롤 */
}

.review-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 5px;
  transition: transform 0.2s ease;
  flex-shrink: 0; /* 줄바꿈 방지 */
}

.review-img:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

.me-5 { margin-right: 5rem !important; }

